.login {
  position: relative;
  padding: 48px 130vh 0 48px;
  background-color: #fff;
  .login-title {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 26px;
    font-weight: 700;
    font-family: Tencent;
    margin-bottom: 48px;
  }
  .login-image {
    position: absolute;
    top: 20vh;
    right: 0;
    height: 80vh !important;
    width: auto !important;
  }
}
