.catalog-tree {
  .ant-tree-treenode {
    padding: 0 0 0 4px !important;
    border: 1px solid transparent;
    border-radius: 2px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
    &.ant-tree-treenode-selected {
      // border-color: var(--ant-primary-2);
      background-color: rgba(0, 0, 0, 0.04);
      .ant-tree-node-selected {
        color: #7a7a7a;
        background-color: transparent !important;
      }
    }
    .ant-tree-node-content-wrapper {
      transition: unset;
      &:hover {
        background-color: unset;
      }
    }
  }
  .ant-tree-draggable-icon {
    display: none;
  }
  .ant-tree-indent-unit::before {
    border-color: rgba(0, 0, 0, 0.08);
  }
  .ant-tree-treenode-selected {
    color: #7a7a7a;
  }
}
