.markdownEditor {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  padding: 0 16px 16px;
  .toolBar {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  .content {
    display: flex;
    overflow: hidden;
    .container {
      position: relative;
      flex-grow: 1;
      overflow: auto;
      height: 100%;
    }
    .catalogContainer {
      // width: 0;
      width: 200px;
      margin-right: -200px;
      height: 100%;
      padding-top: 16px;
      padding-left: 16px;
      flex-shrink: 0;
      overflow-y: auto;
      overflow-x: hidden;
      transition: 0.4s;
      .catalogTitle {
        font-size: 16px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #f0f0f0;
      }
      &.show {
        margin-left: 16px;
        border-left: 1px solid #f0f0f0;
        margin-right: 0;
      }
      :global {
        .ant-tree-show-line .ant-tree-switcher {
          background-color: transparent;
        }
      }
    }
  }
}
