.bookmark-item {
  padding: 16px 0;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  transition: 0.4s;
  transition-property: background-color;
  background-color: #f5f5f5;
  img {
    transform: scale(1.1) translateY(15px);
  }
  .bookmark-item-title {
    transform: scale(1.5) translateY(50px);
  }
}

.home {
  .bookmark {
    .bookmark-item {
      padding: 16px 0;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #f0f0f0;
      cursor: pointer;
      user-select: none;
      overflow: hidden;
      transition: 0.4s;
      transition-property: background-color;
      background-color: #fff;
      transform: none;
      img,.bookmark-item-title {
        position: relative;
        transition: 0.4s;
        transform: none;
      }
      img { z-index: 2; }
      &:hover {
        background-color: #f5f5f5;
        img {
          transform: scale(1.1) translateY(15px);
          transition: 0.4s;
        }
        .bookmark-item-title {
          transform: scale(1.5) translateY(-15px);
          opacity: 0;
        }
      }
    }
    .bookmark-item-add {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed #f0f0f0;
      &:hover {
        color:rgba(0, 0, 0, 0.4);
      }
    }
  }
  .bing-title {
    position: absolute;
    right: 24px;
    bottom: 24px;
    padding: 4px 14px;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    cursor: pointer;
  }
}