.calendar-day {
  position: relative;
  user-select: none;
  .calendar-day-head {
    display: flex;
    justify-content: space-between;
    margin: 16px 8px 0;

    .calendar-day-head-item {
      position: relative;
      padding: 0 8px;
      cursor: pointer;
      z-index: 13;
      .calendar-day-head-item-dot {
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -12px;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #7a7a7a;
        transition: 0.4s;
      }
      &:hover {
        color: var(--ant-primary-color);
      }
      &.active {
        color: var(--ant-primary-color);
        .calendar-day-head-item-dot {
          background-color: var(--ant-primary-color);
        }
      }
      &.current {
        .calendar-day-head-item-dot {
          bottom: -6px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }
  .calendar-day-today {
    position: sticky;
    top: 56px;
    z-index: 12;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.02);
    div:nth-child(2) {
      color: #7a7a7a;
      font-size: 12px;
    }
  }
  .calendar-day-event-item {
    display: flex;
    margin: 16px 0;
    .calendar-day-event-item-start {
      flex-shrink: 0;
      width: 100px;
      padding: 8px 8px 8px 16px;
      font-size: 16px;
    }
    .calendar-day-event-item-content {
      flex-grow: 1;
      padding: 8px 16px 8px 8px;
      border-left: 2px solid var(--ant-primary-color);
      background-image: linear-gradient(to right, var(--ant-primary-1), #fff);
      div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        color: #7a7a7a;
      }
    }
  }
}
