.werido-title {
  position: relative;
  padding-left: 16px;
  &::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    border-top: 4px solid var(--ant-primary-color);
    border-bottom: 8px solid var(--ant-primary-4);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
