// @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('antd/dist/reset.css');
@import url('components.less');

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
}

pre {
  margin-bottom: 0;
}

@font-face {
  font-family: code;
  font-style: normal;
  src: url('../fonts/ComicCodeLigatures-Regular.otf');
}

@font-face {
  font-family: code;
  font-style: italic;
  src: url('../fonts/ComicCodeLigatures-Italic.otf');
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/ubuntu.woff');
}

@font-face {
  font-family: Tencent;
  src: url('../fonts/tencent.ttf');
}

.code,
pre {
  font-family: code;
}

@keyframes translateY {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}

body {
  font-family: Ubuntu;
}

#root {
  .sc-gisBJw {
    left: unset;
    right: -16px;
    .sw-ui-brand {
      display: none;
    }
  }
  span.icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ant-page-header {
  padding: 19px 16px;
  border-bottom: 1px solid #f8f8f9;
}

.ant-card-extra {
  display: flex;
}

.block-picker {
  width: 140px !important;
  backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.4));
}
.overflow-hidden {
  overflow: hidden;
}

.ant-picker-calendar.ant-picker-calendar-mini {
  .ant-picker-calendar-mode-switch {
    display: none;
  }
}

.ant-pagination-total-text {
  flex-grow: 1;
}

.ant-transfer-list-body-customize-wrapper {
  height: 100%;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: unset !important;
}

.ant-pro-global-footer {
  margin: 24px 0 0;
}

.ant-card {
  .ant-card-head {
    padding: 0 16px;
  }
  .ant-card-body {
    padding: 16px;
  }
}

.ant-tree {
  background-color: transparent;
  .ant-tree-switcher {
    background-color: transparent;
  }
}
