@import '/react-grid-layout/css/styles.css';
@import '/react-resizable/css/styles.css';
@import './asserts/css/article.less';
@import './asserts/css/one-light.css';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./asserts/fonts/MaterialIcons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fafafa !important;
  .ant-layout {
    background-color: #fafafa;
  }
}

img {
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
  background-color: #bfbfbf;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c;
}

.hover-bg {
  transition: 0.4s;
  &:hover {
    background-color: #f5f5f5;
  }
}

.block-picker {
  width: 140px !important;
  backdrop-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.4));
}
