.color-drawer {
  .ant-drawer-content-wrapper {
    box-shadow: none !important;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
  }
  .ant-drawer-header {
    display: none;
  }
  .ant-drawer-content {
    background-color: rgba(255, 255, 255, 0.58);
    backdrop-filter: blur(8px);
  }

  .material-picker {
    width: unset !important;
    height: unset !important;
    box-shadow: none !important;
    border-radius: 2px !important;
  }
}
.ant-pro .ant-layout-header.ant-pro-layout-header {
  // background-image: radial-gradient(transparent 1px, #fff 1px);
  // background-size: 4px 4px;
  // background-color: rgba(255, 255, 255, 0.4);
  // backdrop-filter: saturate(50%) blur(4px);
}
